.grid-container {
  display: grid;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;

  .relative-group {
    position: relative;

    .absolute-overlay {
      position: absolute;
      top: -0.125rem;
      right: -0.125rem;
      bottom: -0.125rem;
      left: -0.125rem;
      background-image: linear-gradient(to right, #db2777, #7c3aed);
      border-radius: 9999px;
      filter: blur(8px);
      opacity: 0.75;
      animation: tilt 10s infinite linear;

      @keyframes tilt {
        0%, 50%, 100% {
          transform: rotate(0deg);
        }

        25% {
          transform: rotate(2deg);
        }

        100% {
          transform: rotate(-2deg);
        }
      }

      &:hover {
        opacity: 1;
        transition-duration: 0.2s;
      }
    }

    .button-container {
      line-height: 1;
      position: relative;
      padding: 0.75rem 1rem;
      background-color: rgb(99 102 241 / 1);
      border-radius: 9999px;
      display: flex;
      align-items: center;
      color: inherit;
      cursor: pointer;
      background-image: none;
      font-family: Poppins;
      font-size: 1.125rem;
      line-height: 1.75rem;
      transition: background-color 0.2s ease;
      outline: 2px solid white;
      outline-offset: -3px;
      text-decoration: none;

      &:hover {
        background-color: rgb(0 2 53 / 1);
        transform: translateY(0.125rem);
        font-size: 1.15rem;
      }

      .icon-container {
        display: flex;
        align-items: center;
        line-height: 1;
        background-repeat: no-repeat;
        background-size: cover;

        .icon {
          transition: transform 0.3s ease;
        }
      }

      .button-info {
        color: rgba(243, 244, 246, 1);
        padding-right: 1.5rem;
        font-size: min(0.75vw, 30px);
        font-weight: 600;
        transition: font-size 0.2s ease, color 0.2s ease;
      }

      .more-info {
        border-color: rgba(75, 85, 99, 1);
        color: rgba(219, 39, 119, 1);
        font-size: min(0.75vw, 30px);
        text-shadow: 2px 2px 4px black;
        transition: font-size 0.2s ease, color 0.2s ease;
      }

      &:hover {
        .icon-container .icon {
          transform: rotate(360deg);
        }
        .icon-container .button-info {
          color: rgba(219, 39, 119, 1);
          font-size: min(0.8vw, 30px);
        }
        .more-info {
          color: #f8fafc;
          font-size: min(0.8vw, 30px);
        }
      }

      svg {
        color: rgba(219, 39, 119, 1);
        width: 2.5rem;
        height: 2.5rem;
        display: block;
        line-height: 1;
        margin-right: 1.25rem;
        transition-duration: 1000ms;
      }
    }
  }
}