/* serviceboxgroup.scss */

.box-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
  }
  
  /* Adjust the width based on your design */
  .box-group .swiper-slide {
    width: calc(28% - 10px); /* Adjust margin as needed */
    margin-bottom: 20px;
    min-height: 550px;
  }
  
  
  @media screen and (max-width: 768px) {
    .box-group .swiper-slide {
      width: 100%;
    }
  }
  